<!DOCTYPE html>
<html>
   <head>
      <!-- Basic Page Info -->
      <meta charset="utf-8" />
      <title>HydroSense - Water Resource Management System</title>

      <!-- Site favicon -->
      <link
         rel="apple-touch-icon"
         sizes="180x180"
         href="/static/vendors/images/apple-touch-icon.png"
      />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link
         rel="icon"
         type="image/png"
         sizes="32x32"
         href="/static/vendors/images/favicon-32x32.png"
      />
      <link
         rel="icon"
         type="image/png"
         sizes="16x16"
         href="/static/vendors/images/favicon-16x16.png"
      />

      <!-- Mobile Specific Metas -->
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, maximum-scale=1"
      />

      <!-- Google Font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
         rel="stylesheet"
      />
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/styles/core.css" />
      <link
         rel="stylesheet"
         type="text/css"
         href="/static/vendors/styles/icon-font.min.css"
      />
      <link
         rel="stylesheet"
         type="text/css"
         href="/static/src/plugins/datatables/css/dataTables.bootstrap4.min.css"
      />
      <link
         rel="stylesheet"
         type="text/css"
         href="/static/src/plugins/datatables/css/responsive.bootstrap4.min.css"
      />
      <link rel="stylesheet" type="text/css" href="/static/vendors/styles/style.css" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script type="module"
         async
         src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
      ></script>
      <script type="module">
         window.dataLayer = window.dataLayer || [];
         function gtag() {
            dataLayer.push(arguments);
         }
         gtag("js", new Date());

         gtag("config", "G-GBZ3SGGX85");
      </script>
      <!-- Google Tag Manager -->
      <script type="module">
         (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
               j = d.createElement(s),
               dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
         })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
      </script>
      <!-- End Google Tag Manager -->
      <!-- router script-->
      <script defer type="module" src="./router.js"></script>
      <style>
         .material-symbols-outlined {
           font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 48
         }
         </style>
   </head>
   <body style="overflow-x: hidden;overflow-y:hidden">

      <div class="pre-loader" >
         <div class="pre-loader-box">
            <div class="loader-logo">
               <!-- insert custom app logo here - svg format -->
               <!-- <img src="/static/vendors/images/deskapp-logo.svg" alt="" /> -->
               <p style="color: black">Welcome {{ user }}</p>
            </div>
            <div class="loader-progress" id="progress_div">
               <div class="bar" id="bar1"></div>
            </div>
            <div class="percent" id="percent1">0%</div>
            <div class="loading-text">Loading...</div>
         </div>
      </div>

      <div class="header">
         <div class="header-left">
            <div class="menu-icon bi bi-list"></div>
            <div
               class="search-toggle-icon bi bi-search"
               data-toggle="header_search"
            ></div>
            <div class="title pb-20">
               <h2 class="h3 mt-4">Dashboard</h2>
            </div>
         </div>
         <div class="header-right">
         </div>
      </div>

      <div class="left-side-bar">
         <div class="brand-logo">
            <a href="/" class="--nav-btn">
               <p style="color: white">HydroSense</p>
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
               <i class="ion-close-round"></i>
            </div>
         </div>
         <div class="menu-block customscroll">
            {{ user }}
            <div class="sidebar-menu">
               <ul id="accordion-menu">
                  <li>
                     <p style="color: white;">{{ user }}</p>
                  </li>
                  <li>
                     <a
                        href="/invoice/"
                        class="dropdown-toggle no-arrow --nav-btn"
                     >
                        <span class="micon bi bi-receipt-cutoff"></span
                        ><span class="mtext">Invoice</span>
                     </a>
                     
                  </li>
                  <li>
                     <a
                        href="/invoice/"
                        class="dropdown-toggle no-arrow --nav-btn"
                     >
                     
                        <span class="micon bi bi-receipt-cutoff"></span
                        ><span class="mtext">Share it</span>
                     </a>
                     
                  </li>
                  <li>
                     <a
                     href="/"
                     class="dropdown-toggle no-arrow --nav-btn"
                  >
                     <span class="micon bi bi-chat-right-dots"></span
                     ><span class="mtext">LogOut</span>
                  </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="mobile-menu-overlay"></div>

      <div class="main-container">
         <div class="xs-pd-20-10 pd-ltr-20">
            <!-- <div class="title pb-20">
               <h2 class="h3 mb-0">Management Overview</h2>
            </div> -->

            <div class="row pb-10">
               <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                  <div class="card-box height-100-p widget-style3">
                     <div class="d-flex flex-wrap">
                        <div class="widget-data">
                           <div class="weight-700 font-24 text-dark">75 L</div>
                           <div class="font-14 text-secondary weight-500">
                              Consumed Water
                           </div>
                        </div>
                        <div class="widget-icon">
                           <div class="icon" data-color="#00eccf">
                              <span class="material-symbols-outlined">
                                 water_drop
                                 </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                  <div class="card-box height-100-p widget-style3">
                     <div class="d-flex flex-wrap">
                        <div class="widget-data">
                           <div class="weight-700 font-24 text-dark">
                              125 L
                           </div>
                           <div class="font-14 text-secondary weight-500">
                             Storage Capacity
                           </div>
                        </div>
                        <div class="widget-icon">
                           <div class="icon" data-color="#ff5b5b">
                              <span class="material-symbols-outlined">
                                 local_drink
                                 </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                  <div class="card-box height-100-p widget-style3">
                     <div class="d-flex flex-wrap">
                        <div class="widget-data">
                           <div class="weight-700 font-24 text-dark">74%</div>
                           <div class="font-14 text-secondary weight-500">
                              Quality Of Water 
                           </div>
                        </div>
                        <div class="widget-icon">
                           <div class="icon">
                              <span class="material-symbols-outlined">
                                 water_ph
                                 </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                  <div class="card-box height-100-p widget-style3">
                     <div class="d-flex flex-wrap">
                        <div class="widget-data">
                           <div class="weight-700 font-24 text-dark">
                              ₹1,200
                           </div>
                           <div class="font-14 text-secondary weight-500">
                              Amount Charged
                           </div>
                        </div>
                        <div class="widget-icon">
                           <div class="icon" data-color="#09cc06">
                              <span class="material-symbols-outlined">
                                 currency_rupee
                                 </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row pb-10">
               <div class="col-md-8 mb-20">
                  <div class="card-box height-100-p pd-20">
                     <div
                        class="d-flex flex-wrap justify-content-between align-items-center pb-0 pb-md-3"
                     >
                        <div class="h5 mb-md-0">Water Supplies</div>
                        <div class="form-group mb-md-0">
                           <select
                              class="form-control form-control-sm selectpicker"
                           >
                              <option value="">Last 1 year</option>
                           </select>
                        </div>
                     </div>
                     <div id="activities-chart"></div>
                  </div>
               </div>
               
            </div>

            <div class="row" style="margin-left: 802px;
            margin-top: -438px;
            position: relative;width: 1121px;;">
               <div class="col-lg-4 col-md-6 mb-20">
                  <div class="card-box height-100-p pd-20 min-height-200px">
                     <div class="d-flex justify-content-between">
                        <div class="h5 mb-0">Water Quality Report</div>
                        <div class="dropdown">
                           <a
                              class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                              data-color="#1b3133"
                              href="#"
                              role="button"
                              data-toggle="dropdown"
                           >
                              <i class="dw dw-more"></i>
                           </a>
                           <div
                              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                           >
                              <a class="dropdown-item" href="#"
                                 ><i class="dw dw-eye"></i> View</a
                              >
                              <a class="dropdown-item" href="#"
                                 ><i class="dw dw-edit2"></i> Edit</a
                              >
                              <a class="dropdown-item" href="#"
                                 ><i class="dw dw-delete-3"></i> Delete</a
                              >
                           </div>
                        </div>
                     </div>

                     <div id="diseases-chart"></div>
                  </div>
               </div>
               
               </div> 
            </div>

            
         </div>
      </div>

      <!-- js -->
      <script src="/static/vendors/scripts/core.js"></script>
      <script src="/static/vendors/scripts/script.min.js"></script>
      <script src="/static/vendors/scripts/process.js"></script>
      <script src="/static/vendors/scripts/layout-settings.js"></script>
      <script src="/static/src/plugins/apexcharts/apexcharts.min.js"></script>
      <script src="/static/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
      <script src="/static/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
      <script src="/static/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
      <script src="/static/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
      <script src="/static/vendors/scripts/dashboard3.js"></script>
      <!-- Google Tag Manager (noscript) -->
      <noscript
         ><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
         ></iframe
      ></noscript>
      <!-- End Google Tag Manager (noscript) -->
   </body>
</html>
