<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>HydroSense - Water Resource Management System</title>

    <!-- Site favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/vendors/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/vendors/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/vendors/images/favicon-16x16.png"
    />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/vendors/styles/core.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/vendors/styles/icon-font.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/src/plugins/jquery-steps/jquery.steps.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/vendors/styles/style.css"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="login-page">
    <div class="login-header box-shadow">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <div class="brand-logo">
          <a href="login.html">
            <!-- <img src="/static/vendors/images/deskapp-logo.svg" alt="" /> -->
            <p style="color: black">HydroSense</p>
          </a>
        </div>
        <div class="login-menu">
          <ul>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-7">
            <img src="/static/vendors/images/register-page-img.png" alt="" />
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="register-box bg-white box-shadow border-radius-10">
              <div class="wizard-content">
                <form class="tab-wizard2 wizard-circle wizard" method="post" action="/regis/" name="register">
                  {% csrf_token %}
                  <h5>Basic Account Credentials</h5>
                  <section>
                    <div class="form-wrap max-width-600 mx-auto">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label"
                          >Email Address*</label
                        >
                        <div class="col-sm-8">
                          <input type="email" class="form-control" name="email"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Username*</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="username" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Password*</label>
                        <div class="col-sm-8">
                          <input type="password" class="form-control" name="password" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label"
                          >Confirm Password*</label
                        >
                        <div class="col-sm-8">
                          <input type="password" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- Step 2 -->
                  <h5>Personal Information</h5>
                  <section>
                    <div class="form-wrap max-width-600 mx-auto">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label"
                          >Full Name*</label
                        >
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="fullname" />
                        </div>
                      </div>
                      <div class="form-group row align-items-center">
                        <label class="col-sm-4 col-form-label">Gender*</label>
                        <div class="col-sm-8">
                          <div
                            class="custom-control custom-radio custom-control-inline pb-0"
                          >
                            <input
                              type="radio"
                              id="male"
                              name="gender"
                              class="custom-control-input" name="gender"
                            />
                            <label class="custom-control-label" for="male"
                              >Male</label
                            >
                          </div>
                          <div
                            class="custom-control custom-radio custom-control-inline pb-0"
                          >
                            <input
                              type="radio"
                              id="female"
                              name="gender"
                              class="custom-control-input"
                            />
                            <label class="custom-control-label" for="female"
                              >Female</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">City</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="city"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">State</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="state" />
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- Step 3 -->
                  <h5>Other Info</h5>
                  <section>
                    <div class="form-wrap max-width-600 mx-auto">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label"
                          >Society Name</label
                        >
                        <div class="col-sm-8">
                          <select
                            class="form-control selectpicker"
                            title="Society Name"
                          >
                            <option value="Lodha">Lodha</option>
                            <option value="Green Park">Green Park</option>
                            <option value="Landmark">Landmark</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row align-items-center">
                        <label class="col-sm-4 col-form-label"
                          >MetaMask Address</label
                        >
                        <div class="col-sm-8">
                          <input type="text" class="form-control"  name="metamask" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label"
                          >Flat Number</label
                        >
                        <div class="col-sm-3">
                          <input type="text" class="form-control" name="flat"/>
                        </div>
                      </div>
                    </div>
                  </section>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- success Popup html Start -->
    <button
      type="submit"
      id="success-modal-btn"
      hidden
      data-toggle="modal"
      data-target="#success-modal"
      data-backdrop="static"
    >
      Launch modal
    </button>
    <div
      class="modal fade"
      id="success-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered max-width-400"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-body text-center font-18">
            <h3 class="mb-20">Form Submitted!</h3>
            <div class="mb-30 text-center">
              <img src="/static/vendors/images/success.png" />
            </div>
            Now you are using a decentralized system for water management.
          </div>
          <div class="modal-footer justify-content-center">
            <a href="login.html" class="btn btn-primary">Done</a>
          </div>
        </div>
      </div>
    </div>
    <!-- success Popup html End -->

    <!-- js -->
    <script src="/static/vendors/scripts/core.js"></script>
    <script src="/static/vendors/scripts/script.min.js"></script>
    <script src="/static/vendors/scripts/process.js"></script>
    <script src="/static/vendors/scripts/layout-settings.js"></script>
    <script src="/static/src/plugins/jquery-steps/jquery.steps.js"></script>
    <script src="/static/vendors/scripts/steps-setting.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
