<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trial</title>
  </head>
  <body>
    <button
      class="btn btn-primary btn-lg btn-block"
      onclick="location.href=/deploy/"
    >
      Storage
    </button>
    <button class="btn btn-primary btn-lg btn-block">Distributor</button>
    <button class="btn btn-primary btn-lg btn-block">User</button>
  </body>
</html>
